<%- include("partials/header") -%>



<div class="ans">
    <h1>
        " <%= temperature1 %> <%=degree1 %> = <%=temperature2 %> <%=degree2 %> " 
    </h1>
</div>



<%- include("partials/footer") -%>